@import './variables.styl';

html {
	background-color: unset;
}

a {
    color: accentColor;
}

h2 {
	padding-bottom: 0;
	border-bottom: 0;
}

.theme-default-content {
	code {
		color: lighten($textColor, 20%);
		padding: 0.25rem 0.5rem;
		margin: 0;
		font-size: 0.85em;
		background-color: rgba(27, 31, 35, 0.05);
		border-radius: 3px;

		.token {
			&.deleted {
				color: #da3b3b;
			}

			&.inserted {
				color: #42b983;
			}
		}
	}

	a code {
		color: $warningYellow
	}
}

// @parent-theme/components/PageEdit.vue
.page-edit {
	max-width: $contentWidth;
	.edit-link a,
	.last-updated .prefix {
		color: $accentColor;
	}
}

// @parent-theme/components/PageNav.vue
.page-nav {
	max-width: $contentWidth;
}

// @parent-theme/components/SidebarGroup.vue
.sidebar-heading {
	color: #999;
}

// @parent-theme/components/SidebarLink.vue
.sidebar {
	.sidebar-links {
		.sidebar-heading {
			font-size: 1.1em;
		}

		a.sidebar-link {
			font-size: 1rem;
			line-height: 1.4;
		}

		.sidebar-sub-headers a.sidebar-link {
			font-size: 1em;
		}

		.active {
			border-left-color: $accentColor;
		}
	}
}



.nav-item > a:not(.external):hover, 
	.nav-item > a:not(.external).router-link-active {
	margin-bottom: -2px;
	border-bottom: 2px solid accentColor;
}

// @parent-theme/components/AlgoliaSearchBox.vue
	
.algolia-search-wrapper {
	.algolia-autocomplete  {
		.algolia-docsearch-suggestion--highlight {
			color: $accentColor;
		}
		.algolia-docsearch-suggestion {
			.algolia-docsearch-suggestion--category-header {
				background-color: $accentColor;
			}
			@media (max-width: $MQMobile) {
				.algolia-docsearch-suggestion--subcategory-column {
					opacity: 1;
					background-color: transparent !important;
				}
			}
		}

		.algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
			box-shadow: inset 0 -2px 0 0 $accentColor;
		}
	}
}

// @parent-theme
.home .hero 
	.action-button {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: accentColor;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
    border-bottom: 1px solid accentColor;
	&:hover {
		background-color: lighten($accentColor, 25%);
		border-bottom: 1px solid lighten($accentColor, 25%);
	}
}


// @parent-theme/styles/custom-blocks.styl
@import './custom-blocks.styl';


